body,html{
    font-family: 'Varela Round', sans-serif;
    height: 100%;       
}

.jumbo {
    background-image: url('/static/adult.jpg');
    background-size: contain !important;
}

body, html {
    height: 100%;
  }
.bg{
    background-image: url("https://images.pexels.com/photos/262488/pexels-photo-262488.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}